*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --black:#000;
    --white: #fff;
    --dark: #21243d;
    --primary: #ff6464;
    --secondary-light:#edf7fa;
    --secondary:#00a8cc;
    --light:#8695A4;
   
}

ul ,ol, li{
    list-style: none;

}
.container{
    max-width: 890px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
body{
    max-width: 1270px;
    font-family: Heebo, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:var(--dark);
}
.app{
    max-width: 1270;
    width: 100%;
    margin: 0 auto;
}